h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  color: #434455;
  letter-spacing: 0.02em;
}

.container {
  max-width: 1128px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

.header-section {
  display: flex;
  align-items: center;
  height: 72px;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  margin-right: 76px;
}

.logo-first-word {
  color: #4d5ae5;
}

header .logo-second-word {
  color: #2e2f42;
}

.nav-items {
  display: flex;
  gap: 40px;
}

.nav-items a {
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.nav-items a:hover,
.nav-items a:focus {
  color: #404bbf;
}

.address-section {
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-list a {
  font-style: normal;
  color: #434455;
  letter-spacing: 0.02em;
}

.address-list a:hover,
.address-list a:focus {
  color: #404bbf;
}

.hero-section {
  background-color: #2e2f42;
  height: 600px;
  padding-top: 188px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-button {
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  letter-spacing: 0.04em;
  line-height: 1.5;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
}

.hero-section button:hover,
.hero-section button:focus {
  background-color: #404bbf;
}

.main-title {
  font-size: 56px;
  color: #ffffff;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  padding-bottom: 48px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.ourteam-section {
  background-color: #f4f4fd;
}

.ourteam-card {
  background-color: #ffffff;
}

.ourteam-card h3,
.ourteam-card p {
  text-align: center;
}

.footer-section {
  background-color: #2e2f42;
  color: #f4f4fd;
}

footer .logo-second-word {
  color: #f4f4fd;
}
